
$colors: (
--primary: #750000,
--secondary: #430652,
--alternative: #000,
--text-color: goldenrod
);

$spacings: (
--spacing-large: 6rem,
--spacing-medium: 2.4rem,
--spacing-small: 2rem,
--spacing-xsmall: 1rem
);

$font: (
--font-principal: 'Cinzel', sans-serif
);
$fontsizes: (
--text-large: 5.2em,
--text-medium: 2.2em,
--text-base: 1.6em,
--text-small: 1.4em
);
 

